.catalago{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.cards-categoria{
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    text-decoration: none;
    border: 2px solid var(--main-1-color);
    border-radius: 5px;
    font-size: 16px;
}
.cards-categoria:hover{
    
    background-color: var(--main-1-color);
}

.categorias a{
    text-decoration: none;
    color: var(--main-1-color);
    text-align: center;
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.categorias a:hover{
    color: white;
}