@import url(../main.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    background-color: var(--main-5-color);
}
header{
    margin-bottom: 15px;
}
nav{
    background-color: var(--main-1-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
}
.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
}
.nav-links li {
    margin-right: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.logo h1 {
    margin: 0;
    font-size: 24px;
}
/*footer*/
.footer {
    padding: 50px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.column {
    align-items: center;
    text-align: left;
}
.column h3 {
    color: #343a40;
}

.column p {
    color: #6c757d;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}