:root{
    --main-1-color: #560019;
    --main-2-color: #952811;
    --main-3-color: #00a6ff;
    --main-4-color: #00e3ff;
    --main-5-color: #EFF5F5;
    --main-6-color: #000000;
    --main-7-color: #8fffff;
}