:root{
    --main-1-color: #FC7300;
    --main-2-color: #1F8A70;
    --main-3-color: #00425A;
    --main-4-color: #181823;
    --main-5-color: #EFF5F5;
    --main-6-color: #000000;
    --main-7-color: #e4c779;
}